.footer-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 25px;
    justify-content: space-between;
    
    .contact-bar {
        color: $font-color;
        display: flex;
        width: 50%;

        .contact-bar__mail {
            color: $accent-color;
            margin-left: 5px;
        }
    }

}

.social-media {
    display: flex;
    width: 40%;
    justify-content: flex-end;
    align-items: center;
    color: $font-color;

    .social-media__wrapper {
        display: flex;
        margin-left: 30px;
    } 
    .social-media__item {
        list-style-type: none;
        margin-right: 25px;
    }
       
}

/* center on small devices */
@media screen and (max-width: 767.98px) {
    .footer-wrapper {
        justify-content: center;

        .social-media, .contact-bar {
            width: 90%;
            justify-content: center;
            margin-top: 20px;
            flex-wrap: wrap;
            margin-right: 0;
        }
    }
}