.products-section {
    padding: 0px 70px 40px 10px;
    background-color: $primary-color;
}

.products-wrapper {
    background-color: $primary-color;
    display: flex;
    flex-wrap: wrap;
    max-height: 80vh;
    overflow-y: scroll;
    justify-content: center;
        &::-webkit-scrollbar {
            width: 5px;
            height: 0px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #cbdbd8;
            border-radius: 8px;
        }

        .product {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            min-width: 150px;
            width: 25%;
            padding: 30px;

                .product__img {
                    border: 8px solid transparent;
                    max-width: 100%;
                    height: auto;
                        &:hover {
                            border: 8px solid #fee1b5;
                            cursor: pointer;
                        }
                }

                .product__name {
                    color: #fff;
                    position: absolute;
                    font-size: 3vw;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    font-weight: bold;
                }      
        }    
    }
